#clock-container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: solid 15px #000;
  position: relative;
}
#clock-container:after {
  position: absolute;
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  content: "";
  left: calc(50% - 7.5px);
  top: calc(50% - 7.5px);
}
#clock-container .clock-pointer {
  width: 15px;
  left: calc(50% - 7.5px);
  background-color: black;
  transform-origin: bottom;
}
#clock-hour-pointer {
  height: 35%;
  position: inherit;
  transform: rotate(0deg);
  margin-top: 15%;
  position: absolute;
}
#clock-minute-pointer {
  height: 45%;
  position: inherit;
  transform: rotate(0deg);
  margin-top: 5%;
  position: absolute;
}
