<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="style.css"/>
    <title>Uhr</title>
  </head>

  <body>
    <div id="clock-container">
      <div id="clock-hour-pointer" class="clock-pointer"></div>
      <div id="clock-minute-pointer" class="clock-pointer"></div>
    </div>

    <div id="clock-container-mini">
      <div id="clock-hour-pointer-mini" class="clock-pointer"></div>
      <div id="clock-minute-pointer-mini" class="clock-pointer"></div>
    </div>
    
    <script src="script.js"></script>
  </body>
</html>
