<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="shortcut icon" type="image/x-icon" href="icon.png"/>
    <script src="javascript/design-script.js"></script>
    <title>Millionen Idee</title>
  </head>

  <body>
    <header>
      <nav>
        <button type="button" name="button" onclick="alert('hi')"><i class="material-icons">apps</i></button>
        <button type="button" name="button" onclick="alert('hi')"><i class="material-icons">menu</i></button>
        <button type="button" name="button" onclick="alert('hi')"><i class="material-icons">more_vert</i></button>
      </nav>
      <section>
      </section>
    </header>
    <section>
    </section>

    <aside class="">
    </aside>

    <main>
      <article class="">
      </article>
    </main>

    <footer>
    </footer>
  </body>
</html>
