<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../icon.png" type="image/x-icon" />
  </head>

  <body>
    <nav id="sidebarNav" class="cover-full-page" style="">
      <section id="sidebarNav-page-fill" class="page-fill" onclick="displaySidebarNav(0);">
      </section>
      <section id="sidebarNav-Container" class="container">
        <header class="container-component">

        </header>
        <main class="container-component">

        </main>
        <footer class="container-component">

        </footer>
      </section>
    </nav>
    <main>
      <span class="header-icon-span" onclick="displaySidebarNav(1);"><i class="material-icons">menu</i></span>
    </main>
    <script src="script.js">Javascript</script>
  </body>
</html>
